* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.battery {
    position: relative;
    width: 200px;
    height: 100px;
    margin-top: 3em;
    border: 5px solid black;
}

.battery::after {
    content: '';
    position: absolute;
    top: 37%;
    right: -15px;
    width: 6%;
    height: 20%;
    background-color: black;

}

.low::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: red;
}

.mid::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: yellow;
}

.full::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
}