* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    color: rgb(218, 7, 7);
    background-color: #EEEEEE;
    text-align: center;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

h2 {
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

hr {
    background-color: rgb(218, 7, 7);
    height: 0.2rem;
    border: none;
}

section {
    width: 40%;
}

.main-pic {
    margin-bottom: 2rem;
}

.sec-content p,
h3 {
    font-family: 'Courier Prime', monospace;
}

.thumb-pic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.little-pic {
    width: 20%;
    position: relative;
}

img,
.main-pic {
    outline: 3px solid gray;
    outline-offset: 5px;

    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

/* 
анімацію взяв звідси:
https://codepen.io/anna_blok/pen/XoKLQz
*/
.main-pic {
    --glitch-height: 50vh;
    --gap-horizontal: 0px;
    --gap-vertical: 0px;
    display: flex;
    max-width: 100%;
    position: relative;
    height: var(--glitch-height);
    /* overflow: hidden; */
}

.main-pic:hover {
    cursor: pointer;
}

.glitch-img {
    overflow: hidden;
    position: absolute;
    width: calc(100% + var(--gap-horizontal));
    height: calc(100% + var(--gap-vertical));
    background-size: cover;
    transform: translate3d(0, 0, 0);
}

.glitch-img:nth-child(1) {
    background: url(../img/Marvel_Studios_logo.jpg) no-repeat 50% 10px;
}

.glitch-img:nth-child(2) {
    background: url(../img/Marvel_Studios_logo.jpg) no-repeat 50% 0;
}

.glitch:hover .glitch__img:nth-child(2) {
    opacity: 0;
}

.main-pic:hover>.glitch-img:nth-child(2) {
    animation: glitch-anim-flash 0.5s steps(1, end) infinite;
}

@keyframes glitch-anim-flash {
    0% {
        opacity: 0.5;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
        -webkit-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
        -moz-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
        -ms-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
        -o-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }

    55%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

/* https://codepen.io/anna_blok/pen/pozrLJm */

.little-pic:hover {
    cursor: pointer;
    transform: translate(10%, 1%) rotateY(-20deg) skewY(5deg) scale(1.2);
    -webkit-transform: translate(10%, 1%) rotateY(-20deg) skewY(5deg) scale(1.2);
    -moz-transform: translate(10%, 1%) rotateY(-20deg) skewY(5deg) scale(1.2);
    -ms-transform: translate(10%, 1%) rotateY(-20deg) skewY(5deg) scale(1.2);
    -o-transform: translate(10%, 1%) rotateY(-20deg) skewY(5deg) scale(1.2);
}