* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prata', serif;
    color: black;
    font-size: 1.1em;
}

body {

    background-color: rgb(238, 241, 245);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 1em;
    height: 2.5rem;
    align-items: center;
}

a {
    text-decoration: none;

}

ul {
    text-transform: capitalize;
    list-style: none;
    display: flex;
    height: 100%;
}

li {
    position: relative;
    padding: 0 0.8em;

}



.drop-menu {
    display: none;
    position: absolute;
    padding-top: 10px;
    position: absolute;
    font-size: 0.9em;
    left: 0;

}

.drop-menu li,
.drop-menu2 li {
    background: rgb(7, 220, 248);
    position: relative;
    padding: 0 0.8em;


}

ul li:hover>.drop-menu,

ul li .drop-menu :hover {
    display: block;
}

li:hover {
    background-color: rgb(168, 175, 182);
    cursor: pointer;
}

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

.drop-menu2 {
    display: none;
    position: absolute;
    height: 3.5rem;
    position: absolute;
    height: 100%;
    right: 100%;
    top: 0;
    font-size: 0.9em;
    white-space: nowrap;
}

ul li:hover>.drop-menu2,

ul li .drop-menu2 :hover {
    display: flex;
    align-items: center;
}

.drop-menu2 li:hover {
    border-left: 10px solid rgb(101, 151, 7);
    background: none;


}