* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: 2rem auto;
    padding: 0 2rem;
}

.result,
.wrap_edit_style,
.wrap_create {
    min-height: 300px;
    width: 100%;
    background: lightslategray;
    padding: 1rem 1.5rem;
    position: relative;
    margin: 1.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

textarea,
.style {
    width: 100%;
    margin: 0 auto;
    height: 90%;
}

.style {
    position: relative;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
}

#add {
    background: red;
}

.wrap_colors_choose {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    right: 10px;
    top: 10px;

}

.colors {
    width: calc(100%/3);
    height: calc(100%/3);

    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
}

[type="hidden"] {
    width: 100%;
    height: 100%;
}

.set_element_list {
    width: 80%;


}

table {
    text-align: center;

}

.hide {
    display: none !important;
    font-weight: 100;
}

.show {
    display: block;
}